.story{
    width:75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: $color-white;
    border-radius: 3px;
    padding: 6rem;
    padding-left:9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);
    // &>*{
    //     transform: skewX(12deg);

    // }
    // Now in CSS, there's currently no way of having two transform properties applying at the same time


    &__shape{
        width: 15rem;
        height: 15rem;        
        background-color: rgb(248, 25, 25);
        float: left;
        -webkit-shape-outside: circle(50% at 50% 50%);

        clip-path:  circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg);

// because that means that is the center of the circle so exactly the center horizontally and vertically

}
    
&__img{
    height: 100%;

    // so if we say height 100%, that will be the hundred percent of the parent


}
&__text{
    transform: skewX(12deg);

}


}